[project]
name = "005-agent-with-mcp"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "flask>=3.1.1",
]

[dependency-groups]
dev = [
    "ruff>=0.14.7",
]
